@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
font-family: "Roboto", sans-serif;

font-family: "Playwrite NL", cursive; */

:root {
  --bg-color: black;
  --font-color: white;
  --font-color-2: rgba(255, 255, 255, 0.5);
  --font-family: "Roboto", sans-serif;
  --font-family-2: "Playwrite NL", cursive;
  --heading-main-size: 4.88rem;
  --heading1-size: 3rem;
  --heading2-size: 2rem;
  --paragraph-size: 1rem;
  --btn-color: rgb(230, 83, 60);
  --nav-heading-color: rgb(230, 83, 60);
  --nav-heading-font-size: 2.5rem;
  --nav-link-font-size: 1.5rem;
  --footer-font-color: rgba(255, 255, 255, 0.5);
  --footer-font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 1.5rem;
  color: var(--font-color);
}

/* nav style */
nav {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

/* display hide */
nav-hide {
  display: none;
}

.introduction {
  color: var(--nav-heading-color);
}

.introduction h2 {
  font-size: var(--nav-heading-font-size);
  font-style: italic;
}

.link {
  color: var(--font-color);
}

.link ul {
  border: 1px solid rgba(255, 255, 255, 0.152);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 5px 0;
}

.link ul li {
  list-style: none;
}

#active1 {
  background-color: red;
  padding: 3px;
  border-radius: 50px;
  border: none;
}

/* main style */
/* div class first style */
.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.first .text {
  width: 32.5rem;
  height: 17.63rem;
}

.first .text h1 {
  font-size: var(--heading-main-size);
  line-height: 5.5rem;
}

.first .text h1 span {
  font-family: var(--font-family-2);
  font-weight: 200;
}

.first .text p {
  font-size: var(--paragraph-size);
  color: var(--font-color-2);
  margin: 1rem;
  margin-left: 0;
}

.first .text button {
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.568);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 10px;
}

#active2 {
  background-color: var(--btn-color);
}

.image .circle {
  position: relative;
  top: 350px;
  left: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  margin-top: 1rem;
  width: 206px;
  height: 96px;
}

.image .circle .border {
  margin-top: 15px;
  padding-right: 20px;
}

.image .circle .text {
  margin-top: 1rem;
  line-height: 15px;
}

.image .circle .text h2 {
  font-size: var(--heading2-size);
}

.dot {
  height: 40px;
  width: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  display: inline-block;
}

.image .circle {
  position: relative;
  top: 400px;
  left: -100px;
}

.image {
  background-image: url("../assets/images/images 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 349px;
  margin-left: 6rem;
}

.image .text2 {
  position: relative;
  bottom: 40px;
  left: 250px;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  margin-top: 1rem;
  width: 206px;
  height: 96px;
  line-height: 35px;
}

.image .text2 h2 {
  font-size: var(--heading1-size);
}

.image .text2 p {
  font-size: var(--paragraph-size);
}

/* div class second style */
.second {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
}

.second .text-second {
  text-align: center;
}

.second .text-second h1 {
  font-size: var(--heading1-size);
  margin-bottom: 25px;
}

.second .text-second p {
  font-size: var(--paragraph-size);
  color: var(--font-color-2);
  max-width: 50%;
  line-height: normal;
  margin: 0 auto;
}

.second .image-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 100%;
}

.second .image-second .four {
  text-align: center;
}

.second .image-second .four img {
  border-radius: 50%;
}
